.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.productDetail{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 25px;
  padding: 30px;
}
